body {
	background-color: black;
}

#container {
	position: relative;
	top: -70px;
}

.page-header h1 {
	font-weight: normal;
	text-transform: uppercase;
	background-color: white;
	color: black;
	width: 250px;
	padding: 80px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	line-height: 38px;
	float: left;
	font-size: 60px;
	letter-spacing: 13px;
}

.page-header h1 small {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 57px;
	line-height: 50px;
	letter-spacing: normal;
}

.page-header h2 {
	float: left;
	margin: 136px 0px 0px 3px;
}

.content-wrapper {
	background-color: white;
	color: black;
}

.content {
	background-color: white;
	color: black;
	border-left: 10px solid black;
	border-top: 10px solid black;
	margin: 5px;
	padding: 10px 10px 100px 10px;
	min-height: 600px;
}

.content h2, h4 {
	background-color: black;
	color: white;
	margin: 0px 0px 10px -20px;
	padding: 4px 4px 4px 20px;
	font-size: 14px;
	width: 200px;
	text-transform: uppercase;
}

.content h4 {
	font-size: 12px;				
}

.sidebar {
	margin: 200px 0px 0px 20px;
	padding: 0px;
}

.sidebar nav ul {
	margin: 0px 0px 0px 80px;
	padding: 0px;
}

.sidebar nav li {
	list-style: none;
	background-color: white;
	color: black;
	margin: 0px -20px 10px 0px;
	padding: 4px 20px 4px 0px;
	font-size: 11px;
	text-align: right;
	text-transform: uppercase;
}

.sidebar nav li a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.sidebar nav li.active {
	background-color: black;
	border: 2px solid white;
}

.sidebar nav li.active a {
	color: white;
}
